.container_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
.container_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container_buttons button{
    padding: 10px 15px;
    font-size: 1rem;
    margin: 0.2rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: lightblue;
    cursor: pointer;
    text-transform: capitalize;
}
.container_buttons button:hover{
    background-color: #03234681;
}